.header{
background:#910303;
padding-top:25px;
padding-bottom:25px;
text-align:center;
font-size:30px;
}
.divForJExercices{
position:relative;
border:1px solid yellow;
width:150px;
height:300px;
right:-100px;
bottom:-100px;


}
.javaDiv{
position:relative;
background:#910303;
border:1px solid yellow;
width:150px;
height:50px;
text-align:center;
right:-100px;
bottom:-100px;
padding-bottom:20px;
}

.divForSExercices{
position:relative;
border:1px solid yellow;
width:150px;
height:300px;
right:-1000px;
bottom:274px;

}
.sqlDiv{
position:relative;
background:#910303;
border:1px solid yellow;
width:150px;
height:50px;
text-align:center;
right:-1000px;
bottom:274px;
padding-bottom:20px;

}
.aboutUs{
position:relative;
width:300px;
bottom:700px;
text-align:center;
right:-475px;


}
.aboutUsTitle{
position:relative;
text-align:center;
background:white;
top:-700px;


}



body {
background-color:black;
margin:0;
}

