<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" media="all" href="/exercices.css" th:href="@{/exercices.css}"/>
<title>List of Exercices</title>
</head>
<body >

<div class="header">
    <h1 class="headerTitle">SQL and Java Exercices with solution
    </h1>
    <a href="login" style="color:black;" class="loginHref">Log In</a>
</div>
</div>
<div class="javaDiv"><h1 class="javaH1">Java</h1></div>
<div class="divForJExercices">
<br><a href="exercice0">Exercice 0</a></br>
<br><a href="exercice1">Exercice 1</a></br>
<br><a href="exercice2">Exercice 2</a></br>
<br><a href="exercice3">Exercice 3</a></br>
<br><a href="exercice4">Exercice 4</a></br>
</div>
<div class="sqlDiv"><h1 class="sqlH1">Sql</h1></div>
<div class="divForSExercices">
    <br><a href="exercice0">Exercice 0</a></br>
    <br><a href="exercice1">Exercice 1</a></br>
    <br><a href="exercice2">Exercice 2</a></br>
    <br><a href="exercice3">Exercice 3</a></br>
    <br><a href="exercice4">Exercice 4</a></br>
</div>
<div class="aboutUsTitle">About Us</div>
<div class="aboutUs">
    <p class="pAboutUs" style="color:white;">Quisque convallis enim ac molestie mollis. Aliquam lacus libero, auctor quis quam id, placerat luctus odio. Donec non eros luctus, suscipit lacus sed, tincidunt turpis. Sed sit amet ipsum sed neque tempus accumsan quis vel diam. Nulla volutpat, enim at elementum porttitor, risus dui iaculis tellus, sit amet ornare augue lacus ultrices orci.
        Vestibulum suscipit ante vel sem imperdiet imperdiet. Donec sed felis in lacus maximus faucibus. Duis finibus fermentum nulla, sed fringilla felis dapibus non. Aliquam bibendum elit rhoncus velit pulvinar, vel rutrum lectus dignissim. Nulla facilisi. Suspendisse hendrerit massa vel augue pellentesque, quis malesuada velit feugiat.</p>
</div>
</body>
</html>
